#sidebar {
	float: left;
	width: 220px;
	padding: 10px;
	margin: 0 20px 0 0;
	border-right: 1px dotted green;
	min-height: 530px;
	height: auto;
}

.sidebar_nav li { 
	display: inline;	
	float: left;
	width: 220px;
	padding: 10px 5px;
	border-bottom: 1px dotted green;
}
.sidebar_nav a:hover, .sidebar_nav a.active {
color: red;
}

tr.even { background-color: lightgreen; }
tr.odd { background-color: #FFFFFF; }

table.display th, ul.rt_tabnav, .dash_heading, .dash_full th, .dash_half th, .dash_small th, .dash_left th, .dash_right th  {
	color: #FFFFFF;
	background: lightgreen;
	background: -moz-linear-gradient(center bottom, lightgreen 0%, green 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, lightgreen 0%, green 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, lightgreen), color-stop(0.7, green));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=lightgreen, endColorstr=green);
	cursor: pointer;
	font-weight: bold;
	padding: 10px;
}

#main h3, #middle_section h3 {
	background: #e3eef6;
	color: #3e85b5;
	font-size: 1.5em;
	font-weight: normal;
	height: auto;
	line-height: 2.5;
	padding: 0 1em;
	border: 1px solid #9fd0f1;
	border-bottom-width: 3px;
}

.note {
	background: #e3eef6 url(../images/note.png) 5px 8px no-repeat;
	color: #3e85b5;
	border: 1px solid #E4DBC6;
}

.pagecount {
	color:#3e85b5;
	font-weight:700;
}

#topnav li a {
color: blue;
}

#nav li a {
	color: blue;
	/* border: 1px solid;
	border-radius: 5px;
	margin-right: 5px; */
}
#nav li a:hover {
	color: red;
	border: 1px solid;
	border-radius: 5px;
}
#nav li.active a {
	color: #3e85b5;
	background: url("../images/active.png") center bottom no-repeat;
	padding: 5px 20px 5px 20px;
	border-top: 3px solid #9fd0f1;
}

.btn_green, .btn_green_sml {
	color: #fff !important;
	text-shadow: -1px -1px 0 #2ea2cc;
	-moz-text-shadow: -1px -1px 0 #2ea2cc;
	-webkit-text-shadow: -1px -1px 0 #2ea2cc;
	background: #2ea2cc;
	background: -moz-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, lightblue), color-stop(0.7, #2ea2cc));
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2ea2cc, endColorstr=lightblue);
	border: 1px solid lightblue;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn_green:hover, .btn_green_sml:hover {
	color: #FFFFFF;
	background: lightblue;
	background: -moz-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, lightblue), color-stop(0.7, #2ea2cc));
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=lightblue, endColorstr=#2ea2cc);
}

.btn_orange, .btn_orange_sml {
	color: #fff !important;
	text-shadow: -1px -1px 0 #2ea2cc;
	-moz-text-shadow: -1px -1px 0 #2ea2cc;
	-webkit-text-shadow: -1px -1px 0 #2ea2cc;
	background: #2ea2cc;
	background: -moz-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, lightblue), color-stop(0.7, #2ea2cc));
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2ea2cc, endColorstr=lightblue);
	border: 1px solid lightblue;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn_orange:hover, .btn_orange_sml:hover {
	color: #FFFFFF;
	background: lightblue;
	background: -moz-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, lightblue 0%, #2ea2cc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, lightblue), color-stop(0.7, #2ea2cc));
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=lightblue, endColorstr=#2ea2cc);
}
